<%
page_defaults = {
  description: 'Robinina is a...',
  keywords: 'Sarasota, artist, Robin Bloom, spooky, girls, creepy, art, Florida, paint',
  robots: 'index, follow'
}
%>
<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-2544358-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-2544358-7');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Robinina.art" %></title>
    <meta name="description" content="<%= current_page.data.description || page_defaults[:description] %>">
    <meta name="keywords" content="<%= current_page.data.keywords || page_defaults[:keywords] %>">
    <meta name="robots" content="<%= current_page.data.robots || page_defaults[:robots] %>">
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'site' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js' %>
    <%= javascript_include_tag 'site' %>
  </body>
</html>
